<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sobey.cloud.webtv.kenli" >

    <permission
        android:name="com.sobey.cloud.webtv.kenli.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="com.sobey.cloud.webtv.kenli.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.sobey.cloud.webtv.app.ExceptionApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/android:Theme.NoTitleBar" >
        <activity
            android:name="com.sobey.cloud.webtv.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
            <intent-filter>

                <!-- 宣告該Activity的Action主要類型 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- 定義該Activity支援瀏覽模式 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 定義要處理的URL Schema -->
                <data android:scheme="webtv-main" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sobey.cloud.webtv.LiveNewsHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.GeneralNewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.WebViewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.GeneralNewsDetailShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.VideoNewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.PhotoNewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.VideoNewsPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.views.user.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.user.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.user.RegisterVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.RegisterModifyNicknameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.sobey.cloud.webtv.UploadUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.SuggestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.MyReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.NewGuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.RecommendNewsHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.TopicNewsHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.TopicNewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.CouponNewsHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.CouponNewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.CouponNewsDetailShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.VoteDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.GuessHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignArticleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignArticleLiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignOffLineDetailAlbumContentSingleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignOffLineDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignOffLineDetailNameContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignOffLineDetailSummaryContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignPlayerArticleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignPlayerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignShowDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignSignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.views.activity.CampaignOffLineDetailAlbumContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 爆料 -->
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeNewsHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeNewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeNewsDetailImageShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeMyHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeTaskHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokePlayHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeCaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.broke.BrokeCameraTakeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lib.mediachooser.activity.BucketHomeFragmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lib.mediachooser.activity.HomeFragmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lib.mediachooser.activity.ImageShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <service
            android:name="com.sobey.cloud.webtv.broke.BrokeTaskProgressNotificationService"
            android:process=":remote" />
        <service
            android:name="com.sobey.cloud.webtv.push.PushNotificationService"
            android:process=":remote" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EIOvRauU7fPPulDGhSv37YB7" />

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- 微信回调activity -->
        <activity
            android:name="com.sobey.cloud.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1105438710" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5757811a67e58ec849001da0" >
        </meta-data>
        <!-- 首页 -->
        <activity
            android:name="com.sobey.cloud.webtv.fragment.WebPageFragment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.PropertyManagementActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.HouseAgentActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.JobRecruitmentActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.QueryTrafficViolationsActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.AcceleratedScheduleActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.PublicTransportOnRoadActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.TakingTaxiActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.TransitActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.PersonalCenterActivity" >
        </activity>
        <activity android:name="com.sobey.cloud.webtv.BaiDuMapActivity" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.LiveNewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.LiveNewsDetailActivity2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.NewLiveChannelListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.NewRadioLiveChannelListview"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.AdvJumpPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.VideoAndNormalNewsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.LiveNewsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupSubjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupCommentReplyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupPostSubjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupChoosePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.GroupPersonalInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.views.group.PhotoDetailViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppPhotoActivityTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.personal.PostPrivtateLetterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.personal.MyMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver
            android:name="com.sobey.cloud.webtv.broadcast.DestoryRadioInstanceReciver"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="DestoryRadioInstance" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sobey.cloud.webtv.NewCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.sobey.cloud.webtv.fragment.MyGroupList"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.MyActivitiesFragment"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.ManagementActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.sobey.cloud.webtv.NewPersonalCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.personal.HeadImageChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.LinkPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.ebusiness.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.ebusiness.MyShopingCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.ebusiness.MyAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.ebusiness.MyCollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyOderWBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyCollectWBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.ebusiness.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyShopcarPayAcitvity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.PayDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.sobey.cloud.webtv.ShopPingJiaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.SendPingJiaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyCollectionKindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.CollectionCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MsgCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.ChangePswActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.MyGuanZhuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.FriendCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="com.sobey.cloud.webtv.TalkingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.VideoTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.CommonWebActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.sobey.cloud.webtv.CommonWebActivity2"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver
            android:name="com.sobey.cloud.webtv.broadcast.ECShopBroadReciver"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="ECSHOP_BROAD" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.sobey.cloud.webtv.kenli" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.sobey.cloud.webtv.kenli" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="com.sobey.cloud.webtv.kenli" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- User defined. For test only 用户自定义的广播接收器 -->
        <receiver
            android:name="com.sobey.cloud.webtv.push.MyReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.sobey.cloud.webtv.kenli" />
            </intent-filter>
        </receiver>
        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="dae1b93c7a78a3f56e4e8648" />
        <!-- </>值来自开发者平台取得的AppKey -->


        <!-- 更新版本 -->
        <service android:name="com.sobey.cloud.webtv.service.UpdateVersionService" >
        </service>
    </application>

</manifest>